@using  Microsoft.AspNetCore.Mvc.Rendering;
@model Complaint_Management_System.Models.RegisterViewModel
@using Complaint_Management_System.Models.Enum
@using Complaint_Management_System.Extensions

@{ 
    ViewBag.Title = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<section class="content-wrapper menu-content">
</section>
<section class="content-wrapper main-content clear-fix">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registerForm", @autocomplete = "off" }))
    {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h3>Create A New Account</h3>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2" for="UserName">
                                @Html.LabelFor(m => m.UserRole)
                            </label>
                            <div class="col-sm-9 col-md-4">
                                    <select asp-for="@Model.UserRole" class="form-control" asp-items='new SelectList(roles,"Id","Name")'></select>
                                    @Html.ValidationMessageFor(m => m.UserRole)
                            </div>
                            <span class="required col-md-1"> * </span>
                        </div>
                        <br />
                        <div class="row">
                            <label class="control-label col-md-2" for="UserName">
                                @Html.LabelFor(m => m.StudentStaffNo)
                            </label>
                            <div class="col-sm-9 col-md-4">
                                @Html.TextBoxFor(m => m.StudentStaffNo, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.StudentStaffNo)
                            </div>
                            <span class="required col-md-1"> * </span>
                        </div>
                        <br />
                        <div class="row">
                            <label class="control-label col-md-2" for="Password">
                                @Html.LabelFor(m => m.Password)
                            </label>
                            <div class="col-sm-9 col-md-4">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <span class="required col-md-1"> * </span>
                        </div>
                        <br />
                        <div class="row">
                            <label class="control-label col-md-2" for="ConfirmPassword">
                                @Html.LabelFor(m => m.ConfirmPassword)
                            </label>
                            <div class="col-sm-9 col-md-4">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                            <span class="required col-md-1"> * </span>
                        </div>
                        <br />
                        <div class="row">
                            <label class="control-label col-md-2" for="Name">
                                @Html.LabelFor(m => m.FullName)
                            </label>
                            <div class="col-sm-9 col-md-4">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.FullName)
                            </div>
                            <span class="required col-md-1"> * </span>
                        </div>
                        <br />
                        <div class="row">
                            <label class="control-label col-md-2" for="Email">
                                @Html.LabelFor(m => m.Email)
                            </label>
                            <div class="col-sm-9 col-md-4">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <span class="required col-md-1"> * </span>
                        </div>
                        <br />
                        <div class="row">
                            <label class="control-label col-md-2" for="TitleID">
                                @Html.LabelFor(m => m.FacultyID)
                            </label>
                            <div class="col-sm-9 col-md-4">
                                @Html.DropDownListFor(m => m.FacultyID, new SelectList(Enum.GetValues(typeof(Faculty))
                                                                      .OfType<Enum>()
                                                                      .Select(x => new SelectListItem
                                                                      {
                                                                          Text = x.GetEnumDescription(),
                                                                          Value = (Convert.ToInt32(x))
                                                                          .ToString()
                                                                      }), "Value", "Text"), "Select A Faculty", new { @class = "form-control", @autocomplete = "off" })

                                @Html.ValidationMessageFor(m => m.FacultyID)
                            </div>
                            <span class="required col-md-1"> * </span>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <button class="btn-success btn" type="submit">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
                }

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




